footer {
  background-color: $colorPrincipal;
  padding: 20px;
  h5 {
    font-size: 25px;
    font-family: $fuentePrincipal;
  }
}
footer {
  img {
    height: 30px;
    margin: 5px;
  }
}
footer {
  h6 {
    font-size: 15px;
    font-family: $fuentePrincipal;
  }
}
